In [3]:
# Tuples - immutable sequences of arbitrary objects

t = (1, 5.5, "Math")
t

(1, 5.5, 'Math')

In [4]:
t[0]

1

In [5]:
len(t)

3

In [7]:
for item in t:
    print(item)

1
5.5
Math

In [8]:
t + ('Random', 99, 7.8)

(1, 5.5, 'Math', 'Random', 99, 7.8)

In [10]:
a = ((1, 2), ('A', 'B'))
a

((1, 2), ('A', 'B'))

In [11]:
type(a)

tuple

In [13]:
#t[0] = 'Anand' #TypeError: 'tuple' object does not support item assignment

t

(1, 5.5, 'Math')

In [14]:
# Single element tuple

h = (77)
print(type(h))
i = (77,)
print(type(i))

<class 'int'>
<class 'tuple'>

In [15]:
# empty tuple
j = ()
j

()

In [17]:
# Tuple unpacking

def minmax(items):
    return min(items), max(items)

mi, ma = minmax([65, 99, 10, -1, 54, 33])

print(mi, ma)

-1 99

In [18]:
min